<p style="color: green"><%= notice %></p>

<%= render @leitner_card_box %>

<div>
  <%= link_to "Edit this leitner card box", edit_leitner_card_box_path(@leitner_card_box) %> |
  <%= link_to "Back to leitner card boxes", leitner_card_boxes_path %>

  <%= button_to "Destroy this leitner card box", @leitner_card_box, method: :delete %>
</div>
