<div id="<%= dom_id card %>" class="card col-12 col-md-3 mt-4 d m-auto" >
  <div class="card-body">
    <h5 class="card-word"><%= card.word %></h5>
    <p class="card-definition"><%= card.definition %></p>
    <p class="card-leitner-card-box-id"> Repeat period:  <%= pluralize(card.leitner_card_box.repeat_period,'day') %></p>
    <%= link_to 'Edit', edit_card_path(card), class: 'btn btn-outline-secondary' %>
    <%= link_to "Destroy Card", [card], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: 'btn btn-outline-danger' %>
  </div>
</div>