<h3>Import cards</h3>
<p> Import cards from a CSV file. The file must be an export file from Google translate </p>
<%= form_with url: import_cards_path, method: :post, local: true, multipart: true do |form| %>
  <div class="form-group input-group">
    <%= form.label :file, class: 'form-label' %>
    <%= file_field_tag :file, required: true, class: "form-control" %>
  </div>
  <%= form.submit "Import", class: "btn btn-primary mt-2" %>
<% end %>
<br/>
<%= link_to "Create new card", new_card_path, class: "btn btn-dark" %>
<h3>Cards</h3>
<div id="cards" class="row">
  <% @cards.each do |card| %>
    <%= render card %>
  <% end %>
</div>

<%= link_to "New card", new_card_path, class: "btn btn-dark mt-4" %>
