<% if @card %>
  <div id='wrap-word-card-btns' class="d-flex ms-auto">
    <%= render 'card_buttons', card: @card %>
  </div>

  <div id='wrap-word-card-elem' class="d-flex py-3">
    <h3 id="card-word"><%= @card.word %></h3>
  </div>

  
  <div class="d-flex">
  <%= form_with(url: remember_card_path(@card), local: true) do %>
    <%= submit_tag "I remember", class: 'btn btn btn-success' %>
  <% end %>

  <%= form_with(url: forget_card_path(@card), local: true) do %>
    <%= submit_tag "I forgot", class: 'btn btn btn-danger mx-3' %>
  <% end %>
  </div>
  
  <details>
    <summary>Definition</summary>
    <%= @card.definition %>
  </details>

  <details>
    <summary>Media</summary>
    <% media = MediaService.fetch_media(@card.word, 'gif') %>
    <%= render 'media', media: media %>
  </details>

<% else %>
  <h1>No more cards to learn today</h1>
<% end %>
