<% if @card %>
  <h6>Guess the definition:</h6>
  <p><%= @card.word %></p>

  <div class="d-flex">
  <%= form_with(url: remember_card_path(@card), local: true) do %>
    <%= submit_tag "I remember", class: 'btn btn btn-dark' %>
  <% end %>

  <%= form_with(url: forget_card_path(@card), local: true) do %>
    <%= submit_tag "I forgot", class: 'btn btn btn-dark mx-3' %>
  <% end %>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed text-underline" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Definition
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body text-dark"><%= @card.definition %></div>
    </div>
  </div>

<% else %>
  <h1>No more cards to learn today</h1>
<% end %>
