<% if @card %>
  <h6>Guess the definition:</h6>
  <div id='wrap-word-card-elem' class="d-flex">
    <p id="card-word"><%= @card.word %></p>
    <button onclick="speakText('<%= @card.word %>')" id='listen-word-btn' type="button" class="btn btn-primary ms-auto">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ear" viewBox="0 0 16 16">
        <path d="M8.5 1A4.5 4.5 0 0 0 4 5.5v7.047a2.453 2.453 0 0 0 4.75.861l.512-1.363a5.553 5.553 0 0 1 .816-1.46l2.008-2.581A4.34 4.34 0 0 0 8.66 1H8.5ZM3 5.5A5.5 5.5 0 0 1 8.5 0h.16a5.34 5.34 0 0 1 4.215 8.618l-2.008 2.581a4.555 4.555 0 0 0-.67 1.197l-.51 1.363A3.453 3.453 0 0 1 3 12.547V5.5ZM8.5 4A1.5 1.5 0 0 0 7 5.5v2.695c.112-.06.223-.123.332-.192.327-.208.577-.44.72-.727a.5.5 0 1 1 .895.448c-.256.513-.673.865-1.079 1.123A8.538 8.538 0 0 1 7 9.313V11.5a.5.5 0 0 1-1 0v-6a2.5 2.5 0 0 1 5 0V6a.5.5 0 0 1-1 0v-.5A1.5 1.5 0 0 0 8.5 4Z"></path>
      </svg>
    </button>
    <%= button_to "Edit", edit_card_path(@card), method: :get, class: "btn btn-primary ms-3" %>
  </div>

  <div class="d-flex">
  <%= form_with(url: remember_card_path(@card), local: true) do %>
    <%= submit_tag "I remember", class: 'btn btn btn-success' %>
  <% end %>

  <%= form_with(url: forget_card_path(@card), local: true) do %>
    <%= submit_tag "I forgot", class: 'btn btn btn-danger mx-3' %>
  <% end %>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed text-underline" type="button" data-bs-toggle="collapse" data-bs-target="#flush-definition" aria-expanded="false" aria-controls="flush-definition">
          Definition
        </button>
      </h2>
      <div id="flush-definition" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body text-dark"><%= @card.definition %></div>
      </div>
    </div> <!-- Closing tag for accordion-item -->
  </div> <!-- Closing tag for accordion -->

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed text-underline" type="button" data-bs-toggle="collapse" data-bs-target="#flush-gif">
          Gif animation
        </button>
      </h2>
      <div id="flush-gif" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body text-dark">
        <img id="question-prompt-img" src="https://media.tenor.com/gIOYkEaGwrQAAAAC/effectively-its-working.gif" class="img-thumbnail rounded mx-auto d-block" alt="effectively" style="height: 60vw; max-height: 400px;" data-image-var="0">
        </div>
      </div>
    </div> <!-- Closing tag for accordion-item -->
  </div> <!-- Closing tag for accordion -->

  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed text-underline" type="button" data-bs-toggle="collapse" data-bs-target="#flush-sentence">
        Sentence examples for word usage
      </button>
    </h2>
    <div id="flush-sentence" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body text-dark">
      <img id="question-prompt-img" src="https://media.tenor.com/gIOYkEaGwrQAAAAC/effectively-its-working.gif" class="img-thumbnail rounded mx-auto d-block" alt="effectively" style="height: 60vw; max-height: 400px;" data-image-var="0">
      </div>
    </div>
  </div> <!-- Closing tag for accordion-item -->
</div> <!-- Closing tag for accordion -->

<% else %>
  <h1>No more cards to learn today</h1>
<% end %>
