<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <%= link_to "Memorize App", root_path, 
    class: "navbar-brand", 
    rel: "tooltip", 
    title: "Memorize app. Help you to memorize anything!", 
    data: { placement: "bottom" } %>

    <% if current_user %>
      <%= link_to "Learn", learn_cards_path, class: 'nav-link' %>
      <%= link_to "Cards", cards_path, class: 'nav-link' %>
      <%= link_to "Card boxes", leitner_card_boxes_path, class: 'nav-link' %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn bg-gradient-primary mb-0" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn bg-gradient-primary ms-3 mb-0" %>
    <% end %>
  </div>
</nav>