<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "MemorizeApp", root_path, class: 'navbar-brand text-dark' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="navbar-collapse collapse" id="navbarTogglerDemo02" style="">
      <ul class="d-flex w-100 navbar-nav me-auto py-2 mb-lg-0">
        <% if current_user %>
          <%= link_to "Learn", learn_cards_path, class: 'nav-link' %>
          <%= link_to "Cards", cards_path, class: 'nav-link' %>
          <%= link_to "Card boxes", leitner_card_boxes_path, class: 'nav-link' %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn bg-gradient-primary mb-0 ms-auto" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn bg-gradient-primary m-1" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn bg-gradient-primary m-1" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>